* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(54, 53, 53);
    font-family: 'Kiona Regular';
    color: white;
}

nav {
    padding-top: 20px;
    display: flex;
}

nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    opacity: 0.6;
    transition: 0.5s;
}

nav a:hover {
    background-color: black;
    color: #fff;
    opacity: 1;
    border-radius: 12px;
}

.active {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 12px;
}

a {
    display: flex;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    border-radius: 100px;
    height: 60px;
    width: 60px;
    margin-top: -7px;
}

#s {
    /* background-color: gray; */
    border: 0;
    border-radius: 15px;
    margin-top: 15px;
}

#s:hover {
    border: 10 px;
}

#main {
    max-width: 1280px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}

.content {
    text-align: center;
}

.SFPT {
    text-align: center;
    border-radius: 100px;
    height: 140px;
    width: 140px;
}

.SFPT_Banner {
    border-radius: 12px;
}

input.btnC {
    text-transform: uppercase;
    margin-top: 10px;
    background: linear-gradient(#e66465, #9198e5);
    border: none;
    height: 60px;
    width: 150px;
    border-radius: 20px;
    transition: 0.4s;
}

input.btnC:hover {
    background: linear-gradient(to bottom right, #e66465, #9198e5);
    transform: translateY(-6px) translateX(6px);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    height: 50px;
}

.searchbar {
    float: right;
}


/* 
.searchBar {
    border-radius: 12px;
    border: none;
    color: rgb(82, 82, 82);
    background-color: rgb(54, 53, 53);
    height: 30px;
    width: 300px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchBar:hover {
    background-color: white;
    height: 30px;
    width: 300px;
    color: black;
}

.searchBar::selection {
    background-color: white;
    height: 30px;
    width: 300px;
    color: black;
} */

::selection {
    color: #fff;
    background: #664AFF;
}

.wrapper {
    max-width: 450px;
    margin: 150px auto;
}

.wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

.search-input .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}